.App {
  font-family: "Merriweather Sans", sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #132743;
}

.main-body {
  margin: auto;
}

.main-container {
  margin: 10% auto;
  border: 2px solid #132743;
  border-radius: 30px;
  background: linear-gradient(
    69.8deg,
    rgb(25, 49, 108) 2.8%,
    rgb(1, 179, 201) 97.8%
  );
  max-width: 800px;
  max-height: auto;
}
