.curve-text {
  font-size: 30px;
  color: white;
  font-family: "Dancing Script", cursive;
  text-align: right;
}

.search-bar {
  font-family: "Merriweather Sans", sans-serif;
  padding: 15px;
  color: #222324;
}

.search-icon {
  font-size: 18px;
}

.btn-edit:hover {
  background-color: #323643;
}


