.curve-text {
  font-size: 30px;
  color: white;
  font-family: "Dancing Script", cursive;
  text-align: right;
}

.search-bar {
  font-family: "Merriweather Sans", sans-serif;
  padding: 15px;
  color: #222324;
}

.search-icon {
  font-size: 18px;
}

.btn-edit:hover {
  background-color: #323643;
}

.current-weather-report {
  font-family: "Merriweather Sans", sans-serif;
  padding: 15px;
  color: #222324;
}

.condition-text {
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
}

.additional-info {
  font-size: 12px;
  line-height: 10px;
  text-align: left;
}

.current-temp {
  font-size: 55px;
}

.button-text {
  font-size: 12px;
}

.container {
  max-width: 700px;
  max-height: auto;
}

.current-city-name {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
}

.current-time-date {
  font-size: 11px;
}

.current-time {
  font-size: 12px;
}

.current-weather-icon {
  font-size: 40px;
  color: white;
}

.btn-edit:hover {
  background-color: #323643;
}

.celsius-text-format {
  font-size: 40px;
}
