.full-weather-report {
  font-family: "Merriweather Sans", sans-serif;
  padding: 12px;
  color: #222324;
  max-width: 400px;
  max-height: auto;
  margin: auto;
}

.card {
  max-width: 120px;
  min-width: 120px;
  color: black;
  opacity: 0.9;
  padding-left: 2px;
  padding-right: 2px;
  margin: 10px;
}

.card-title {
  font-size: 13px;
  font-weight: bolder;
}

.card-subtitle {
  font-size: 10px;
  font-weight: bolder;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
