.container {
  max-width: 400px;
  max-height: auto;
  color: white;
}

.current-city-name {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 5px;
}

.current-time-date {
  font-size: 11px;
  margin-top: 15px;
}

.btn-edit:hover {
  background-color: #323643;
}

.current-weather-report {
  font-family: "Merriweather Sans", sans-serif;
  padding: 15px;
  color: #222324;
}

.condition-text {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}

.info-text {
  font-size: 12px;
}

.button-text {
  font-size: 12px;
}

.Search .temperature {
  font-weight: bold;
  color: white;
  font-size: 70px;
  font-weight: 400;
  margin-top: -20px;
}

.Search .unit {
  color: white;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -26px;
  left: 10px;
}

.Search a {
  text-decoration: none;
}

.Search a:visited {
  color: blue;
}
