.container {
  font-family: "Noto Serif Telugu", serif;
  max-width: 400px;
  max-height: auto;
  color: #fff8ea;
}

.current-city-name {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 5px;
}

.btn-edit:hover {
  background-color: #815b5b;
}

.current-weather-report {
  padding: 15px;
  color: #fff8ea;
}

.condition-text {
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  color: #f3c5c5;
}

.info-text {
  font-size: 12px;
  color: #9e7676;
}

.feelslike-text {
  font-size: 15px;
  color: #f7e2d6;
}

.button-text {
  font-size: 12px;
}

.temperature {
  font-weight: bold;
  font-size: 75px;
  font-weight: 400;
  margin-top: -20px;
  color: #ffeddb;
}

.current-date {
  font-size: 15px;
  margin-top: 20px;
}

.current-time {
  font-size: 11px;
}

.unit {
  font-size: 40px;
}
