.full-weather-report {
  font-family: "Noto Serif Telugu", serif;
  padding: 12px;
  color: #594545;
  max-width: 45%;
  max-height: auto;
  margin: auto;
}

.card {
  max-width: 113px;
  min-width: 113px;
  color: #815b5b;
  opacity: 0.9;
  padding-left: 1px;
  padding-right: 1px;
  margin: 5px;
}

.card-title {
  font-size: 14px;
  font-weight: bolder;
}

.card-subtitle {
  font-size: 11px;
  font-weight: bolder;
  color: #9e7676;
}

.card:hover {
  background-color: #e3cece;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
  color: #9e7676;
}

.info-text-expand {
  font-size: 16px;
}
